NET SYS_CLK LOC = T8 | TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;

NET KEY1		LOC = C3 | IOSTANDARD = "LVCMOS33";
NET KEY2		LOC = D3 | IOSTANDARD = "LVCMOS33";
NET KEY3		LOC = E4 | IOSTANDARD = "LVCMOS33";
NET KEY4		LOC = E3 | IOSTANDARD = "LVCMOS33";
NET RESET	LOC = L3 | IOSTANDARD = "LVCMOS33";

NET LED1		LOC = P4 | IOSTANDARD = "LVCMOS33";
